## Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

df = pd.read_csv("WHI_Inflation.csv")
df.head()

,Country,Year,Headline Consumer Price Inflation,Energy Consumer Price Inflation,Food Consumer Price Inflation,Official Core Consumer Price Inflation,Producer Price Inflation,GDP deflator Index growth rate,Continent/Region,Score,GDP per Capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2015,-0.660,-4.250000,-0.840000,0.219999,NaN,2.665090,South Asia,3.575,0.319820,0.302850,0.303350,0.23414,0.365100,0.097190
1,Afghanistan,2016,4.380,2.070000,5.670000,5.192760,NaN,-2.409509,South Asia,3.360,0.382270,0.110370,0.173440,0.16430,0.312680,0.071120
2,Afghanistan,2017,4.976,4.440000,6.940000,5.423228,NaN,2.404000,South Asia,3.794,0.401477,0.581543,0.180747,0.10618,0.311871,0.061158
3,Afghanistan,2018,0.630,1.474185,-1.045952,-0.126033,NaN,2.071208,South Asia,3.632,0.332000,0.537000,0.255000,0.08500,0.191000,0.036000
4,Afghanistan,2019,2.302,-2.494359,3.794770,NaN,NaN,6.520928,South Asia,3.203,0.350000,0.517000,0.361000,0.00000,0.158000,0.025000

In [2]:
# Checking Data Types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 16 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 1232 non-null   object
 1   Year                                    1232 non-null   int64
 2   Headline Consumer Price Inflation       1200 non-null   float64
 3   Energy Consumer Price Inflation         1090 non-null   float64
 4   Food Consumer Price Inflation           1130 non-null   float64
 5   Official Core Consumer Price Inflation  734 non-null    float64
 6   Producer Price Inflation                769 non-null    float64
 7   GDP deflator Index growth rate          1211 non-null   float64
 8   Continent/Region                        1232 non-null   object
 9   Score                                   1232 non-null   float64
 10  GDP per Capita                          1232 non-null   float64
 11  Social support                          1232 non-null   float64
 12  Healthy life expectancy at birth        1232 non-null   float64
 13  Freedom to make life choices            1232 non-null   float64
 14  Generosity                              1232 non-null   float64
 15  Perceptions of corruption               1231 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 154.1+ KB

In [3]:
df['Year'] = pd.to_datetime(df['Year'], format = '%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 16 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 1232 non-null   object
 1   Year                                    1232 non-null   datetime64[ns]
 2   Headline Consumer Price Inflation       1200 non-null   float64
 3   Energy Consumer Price Inflation         1090 non-null   float64
 4   Food Consumer Price Inflation           1130 non-null   float64
 5   Official Core Consumer Price Inflation  734 non-null    float64
 6   Producer Price Inflation                769 non-null    float64
 7   GDP deflator Index growth rate          1211 non-null   float64
 8   Continent/Region                        1232 non-null   object
 9   Score                                   1232 non-null   float64
 10  GDP per Capita                          1232 non-null   float64
 11  Social support                          1232 non-null   float64
 12  Healthy life expectancy at birth        1232 non-null   float64
 13  Freedom to make life choices            1232 non-null   float64
 14  Generosity                              1232 non-null   float64
 15  Perceptions of corruption               1231 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 154.1+ KB

In [4]:
df.isna().sum()

Country                                     0
Year                                        0
Headline Consumer Price Inflation          32
Energy Consumer Price Inflation           142
Food Consumer Price Inflation             102
Official Core Consumer Price Inflation    498
Producer Price Inflation                  463
GDP deflator Index growth rate             21
Continent/Region                            0
Score                                       0
GDP per Capita                              0
Social support                              0
Healthy life expectancy at birth            0
Freedom to make life choices                0
Generosity                                  0
Perceptions of corruption                   1
dtype: int64

In [5]:
df.dropna(subset = ['Headline Consumer Price Inflation', 'GDP deflator Index growth rate'], inplace = True)
df

,Country,Year,Headline Consumer Price Inflation,Energy Consumer Price Inflation,Food Consumer Price Inflation,Official Core Consumer Price Inflation,Producer Price Inflation,GDP deflator Index growth rate,Continent/Region,Score,GDP per Capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2015-01-01,-0.660000,-4.250000,-0.840000,0.219999,NaN,2.665090,South Asia,3.5750,0.319820,0.302850,0.303350,0.234140,0.365100,0.097190
1,Afghanistan,2016-01-01,4.380000,2.070000,5.670000,5.192760,NaN,-2.409509,South Asia,3.3600,0.382270,0.110370,0.173440,0.164300,0.312680,0.071120
2,Afghanistan,2017-01-01,4.976000,4.440000,6.940000,5.423228,NaN,2.404000,South Asia,3.7940,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158
3,Afghanistan,2018-01-01,0.630000,1.474185,-1.045952,-0.126033,NaN,2.071208,South Asia,3.6320,0.332000,0.537000,0.255000,0.085000,0.191000,0.036000
4,Afghanistan,2019-01-01,2.302000,-2.494359,3.794770,NaN,NaN,6.520928,South Asia,3.2030,0.350000,0.517000,0.361000,0.000000,0.158000,0.025000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,Zimbabwe,2019-01-01,255.292007,90.808071,86.124371,NaN,NaN,-4.035235,Sub-Saharan Africa,3.6630,0.366000,1.114000,0.433000,0.361000,0.151000,0.089000
1228,Zimbabwe,2020-01-01,557.210000,306.431673,601.020236,NaN,NaN,568.971862,Sub-Saharan Africa,3.2992,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929
1229,Zimbabwe,2021-01-01,98.546000,69.820000,105.800000,NaN,NaN,113.294981,Sub-Saharan Africa,3.1450,0.457000,0.649000,0.243000,0.359000,0.157000,0.075000
1230,Zimbabwe,2022-01-01,104.705171,97.246550,149.967034,NaN,NaN,113.018434,Sub-Saharan Africa,2.9950,0.947000,0.690000,0.270000,0.329000,0.106000,0.105000
1231,Zimbabwe,2023-01-01,105.401982,115.380648,NaN,NaN,NaN,812.247463,Sub-Saharan Africa,3.2040,0.758000,0.881000,0.069000,0.363000,0.112000,0.117000

In [6]:
ecpi = df.dropna(subset = 'Energy Consumer Price Inflation')
fcpi = df.dropna(subset = 'Food Consumer Price Inflation')
occpi = df.dropna(subset = 'Official Core Consumer Price Inflation')
ppi = df.dropna(subset = 'Producer Price Inflation')

ppi.head()

,Country,Year,Headline Consumer Price Inflation,Energy Consumer Price Inflation,Food Consumer Price Inflation,Official Core Consumer Price Inflation,Producer Price Inflation,GDP deflator Index growth rate,Continent/Region,Score,GDP per Capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
10,Albania,2016-01-01,1.291234,0.040000,3.249188,0.151382,-1.613304,-0.632405,Central and Eastern Europe,4.6550,0.955300,0.501630,0.73007,0.318660,0.168400,0.053010
11,Albania,2017-01-01,1.987000,1.000000,3.905430,0.819713,2.842246,1.450936,Central and Eastern Europe,4.6440,0.996193,0.803685,0.73116,0.381499,0.201313,0.039864
12,Albania,2018-01-01,2.030000,2.800000,2.671432,0.928374,1.602622,1.359464,Central and Eastern Europe,4.5860,0.916000,0.817000,0.79000,0.419000,0.149000,0.032000
13,Albania,2019-01-01,1.411000,0.689010,2.911938,0.735378,-0.796721,0.363417,Central and Eastern Europe,4.7190,0.947000,0.848000,0.87400,0.383000,0.178000,0.027000
14,Albania,2020-01-01,1.620887,1.420089,3.607454,1.411406,-3.432639,1.413396,Central and Eastern Europe,4.8827,0.906653,0.830484,0.84633,0.461946,0.171028,0.025361

## Inflation Rates vs Happiness Score

## Regional Analysis

## Election Correlation

In [7]:
! pip install lxml

Requirement already satisfied: lxml in c:\users\chino\appdata\local\programs\python\python311\lib\site-packages (5.3.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
url = 'https://en.wikipedia.org/wiki/List_of_next_general_elections'

tables = pd.read_html(url)

# Combining wikipedia's tables
elections = pd.concat(tables[1:6], ignore_index= True)

# Removing multi-index
elections.columns = [' - '.join(col).strip() for col in elections.columns.values]

elections = elections[['Country - Country', 'Presidential election - Term', 'Presidential election - Last']]
elections.replace(['—', '–', 'Next', 'TBD'], '', inplace = True)

elections

,Country - Country,Presidential election - Term,Presidential election - Last
0,Algeria,5,7 Sep 2024
1,Angola,5,24 Aug 2022
2,Benin,5,11 Apr 2021
3,Botswana,,
4,Burkina Faso,5,22 Nov 2020
...,...,...,...
204,Samoa,5,23 Aug 2022
205,Solomon Islands,,
206,Tonga,,
207,Tuvalu,,
208,Vanuatu,5,21 Jul 2022

In [23]:
elections['Presidential election - Term'] = pd.to_numeric(elections['Presidential election - Term'], errors='coerce')
elections['Presidential election - Last'] = pd.to_datetime(elections['Presidential election - Last'], errors='coerce')

elections.dropna(inplace = True)
elections

,Country - Country,Presidential election - Term,Presidential election - Last
0,Algeria,5.0,2024-09-07
1,Angola,5.0,2022-08-24
2,Benin,5.0,2021-04-11
4,Burkina Faso,5.0,2020-11-22
5,Burundi,7.0,2020-05-20
...,...,...,...
198,Micronesia,4.0,2023-05-11
199,Nauru,3.0,2022-09-28
202,Palau,4.0,2024-11-05
204,Samoa,5.0,2022-08-23
208,Vanuatu,5.0,2022-07-21

In [24]:
elections = elections.rename(columns={'Country - Country': 'Country'})

elections = elections.sort_values(by = 'Country')
print(elections['Presidential election - Term'].value_counts())

# Relevant countries
elections = elections[elections['Country'].isin(df['Country'])]

# Elections every four and five years
elections = elections[(elections['Presidential election - Term'] == 4.0) |( elections['Presidential election - Term'] == 5.0)]

# Before 2024
elections = elections[elections['Presidential election - Last'] < datetime(2024, 1, 1)]

elections.head()

Presidential election - Term
5.0    89
4.0    27
7.0    13
6.0    13
3.0     2
1.0     1
Name: count, dtype: int64

        Country  Presidential election - Term Presidential election - Last
139     Albania                           5.0                   2022-05-16
1        Angola                           5.0                   2022-08-24
57    Argentina                           4.0                   2023-10-22
94   Bangladesh                           5.0                   2023-02-13
2         Benin                           5.0                   2021-04-11

In [25]:
elections_df = df.merge(elections, on='Country', how='inner')

# Relevant columns for election analysis
elections_df = elections_df[['Country', 'Year', 'Official Core Consumer Price Inflation', 
                             'Score', 'Presidential election - Term', 'Presidential election - Last']]

elections_df

,Country,Year,Official Core Consumer Price Inflation,Score,Presidential election - Term,Presidential election - Last
0,Albania,2015-01-01,-0.156957,4.9590,5.0,2022-05-16
1,Albania,2016-01-01,0.151382,4.6550,5.0,2022-05-16
2,Albania,2017-01-01,0.819713,4.6440,5.0,2022-05-16
3,Albania,2018-01-01,0.928374,4.5860,5.0,2022-05-16
4,Albania,2019-01-01,0.735378,4.7190,5.0,2022-05-16
...,...,...,...,...,...,...
447,Zimbabwe,2019-01-01,NaN,3.6630,5.0,2023-08-23
448,Zimbabwe,2020-01-01,NaN,3.2992,5.0,2023-08-23
449,Zimbabwe,2021-01-01,NaN,3.1450,5.0,2023-08-23
450,Zimbabwe,2022-01-01,NaN,2.9950,5.0,2023-08-23
451,Zimbabwe,2023-01-01,NaN,3.2040,5.0,2023-08-23

In [30]:
def assign_columns(df, name):
    new_column_names = [df.columns[0]] + [
        col + name for col in df.columns[1:]
    ]
    df.columns = new_column_names
    return df

cols = ['Country', 'Year', 'Official Core Consumer Price Inflation', 'Score']

non_election_years = elections_df[elections_df['Year'].dt.year ==  (elections_df['Presidential election - Last'].dt.year - 
                                                               (elections_df['Presidential election - Term']) + 1)]

non_election_years = non_election_years[cols]
non_election_years = assign_columns(non_election_years, ' (Non-Election)')


election_years = elections_df[elections_df['Year'].dt.year == elections_df['Presidential election - Last'].dt.year]
election_years = election_years[cols]
election_years = assign_columns(election_years, ' (Election)')

election_years.head()

,Country,Year (Election),Official Core Consumer Price Inflation (Election),Score (Election)
7,Albania,2022-01-01,6.501041,5.1990
21,Argentina,2023-01-01,NaN,6.0240
30,Bangladesh,2023-01-01,NaN,4.2820
37,Benin,2021-01-01,NaN,5.0450
45,Bolivia,2020-01-01,NaN,5.7475

In [33]:
elections_df = non_election_years.merge(election_years, on = 'Country', how = 'inner')
elections_df.head(10)

,Country,Year (Non-Election),Official Core Consumer Price Inflation (Non-Election),Score (Non-Election),Year (Election),Official Core Consumer Price Inflation (Election),Score (Election)
0,Albania,2018-01-01,0.928374,4.5860,2022-01-01,6.501041,5.1990
1,Argentina,2020-01-01,NaN,5.9747,2023-01-01,NaN,6.0240
2,Bangladesh,2019-01-01,NaN,4.4560,2023-01-01,NaN,4.2820
3,Benin,2017-01-01,NaN,3.6570,2021-01-01,NaN,5.0450
4,Bolivia,2016-01-01,NaN,5.8220,2020-01-01,NaN,5.7475
5,Bosnia and Herzegovina,2019-01-01,NaN,5.3860,2022-01-01,NaN,5.7680
6,Brazil,2019-01-01,3.515498,6.3000,2022-01-01,8.759518,6.2930
7,Bulgaria,2018-01-01,1.601698,4.9330,2021-01-01,1.391320,5.2660
8,Burkina Faso,2016-01-01,NaN,3.7390,2020-01-01,NaN,4.7687
9,Chile,2018-01-01,1.717328,6.4760,2021-01-01,3.821000,6.1720

In [37]:
elections_df.dropna(inplace = True)
elections_df.head()

,Country,Year (Non-Election),Official Core Consumer Price Inflation (Non-Election),Score (Non-Election),Year (Election),Official Core Consumer Price Inflation (Election),Score (Election)
0,Albania,2018-01-01,0.928374,4.586,2022-01-01,6.501041,5.199
6,Brazil,2019-01-01,3.515498,6.300,2022-01-01,8.759518,6.293
7,Bulgaria,2018-01-01,1.601698,4.933,2021-01-01,1.391320,5.266
9,Chile,2018-01-01,1.717328,6.476,2021-01-01,3.821000,6.172
10,China,2019-01-01,1.703221,5.191,2023-01-01,0.588709,5.818

In [38]:
# Saving for future reference
elections_df.to_csv('Elections File.csv')